#header {
  height: 50px;
  background-color: black;
  color: #fff;
}

#branding h1 {
  color: #fff;
}

a:link,
a:visited {
  color: white;
}

div.breadcrumbs {
  background-color: black;
  color: white;
}

div.breadcrumbs a {
  color: #333;
}

.module h2, .module caption, .inline-group h2 {
  background-color: black;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background-color: #328da8;
  color: #fff;
}
